@media screen and (max-width: 1390px) {
    /* letters
     ========================================================================== */
    .letters__slider {
        width: 1120px;
        margin-right: auto;
        margin-left: auto;
    }

    .letter__arrow_back {
        left: -75px;
    }

    .letter__arrow_next {
        right: -75px;
    }
}

/* ==========================================================================
   Large
   ========================================================================== */

@media screen and (max-width: 1290px) {
    /* main-header
      ========================================================================== */
    .main-header {
        padding: 40px 0;
    }

    .main-header .container {
        flex-direction: column;
        align-items: center;
    }

    .main-header__logo {
        margin-bottom: 20px;
    }

    .main-header__title {
        margin-bottom: 15px;
        text-align: center;
    }

    /* our-work
       ========================================================================== */
    .our-work__work-list,
    .our-work__work-list:nth-of-type(n + 2),
    .work {
        margin-bottom: 45px;
    }

    .work__box {
        flex-direction: column;
        padding-bottom: 0;
    }

    .work__box:hover .work__img-box,
    .work__box:focus .work__img-box {
        width: auto;
    }

    .work__title {
        padding-bottom: 45px;
    }

    .work__content {
        padding-top: 22px;
    }

    .work__mobile-more {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
        display: block;
        width: 130px;
        padding: 7px 10px 7px 35px;
        font-size: 16px;
        line-height: 1;
        color: #fff;
        background: #0068e1;
        border-top-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .work__mobile-more::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translate(0, -45%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 6px 0 6px;
        border-color: #fff transparent transparent transparent;
    }

    .work__img {
        height: 322px;
        object-position: center;
    }

    .work__box:hover .work__img-box::after,
    .work__box:focus .work__img-box::after {
        opacity: 0;
    }

    .work.work--active .work__img-box::after {
        opacity: 1;
    }

    .work__content {
        display: none;
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }

    .work__box:hover .work__content,
    .work__box:focus .work__content {
        width: auto;
    }

    .work__text {
        width: 100%;
    }

    .work__button {
        margin-right: auto;
        margin-left: auto;
    }

    /* review
       ========================================================================== */
    .reviews__list {
        flex-direction: column;
        align-items: center;
    }

    .reviews__item {
        margin-right: 0;
    }

    .reviews__item:nth-child(n + 2) {
        margin-top: 40px;
    }

    /* letters
       ========================================================================== */
    .letters__slider {
         width: 840px;
     }

    /* services
       ========================================================================== */
    .services__row {
        flex-direction: column;
        align-items: center;
    }

    .services__list:first-child {
        margin-bottom: 8px;
    }

    .service__link-img::after {
        opacity: 1;
    }
}

/* ==========================================================================
   Medium
   ========================================================================== */

@media screen and (max-width: 992px) {
    /* main-navigation
       ========================================================================== */
    .main-navigation__wrapper {
        padding: 10px 0;
    }

    .main-navigation__wrapper .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-navigation__logo {
        display: block;
    }

    .social {
        display: flex;
    }

    .main-navigation__trigger {
        display: block;
    }
    
    .main-navigation__box {
        display: none;
        width: 100%;
        max-height: 80vh;
        overflow-y: auto;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .main-navigation__list {
        flex-direction: column;
        align-items: center;
    }

    .main-navigation__list a:hover {
        background-color: transparent;
        color: #0068e1;
    }

    /* letters
       ========================================================================== */
    .letters__slider {
        width: 556px;
    }

    .letter__arrow_back {
        left: -90px;
    }

    .letter__arrow_next {
        right: -90px;
    }

    /* services
       ========================================================================== */
    .service__content {
        padding-left: 0;
    }

    /* about
       ========================================================================== */
    .about__video-wrapper {
        float: none;
        margin: 0 auto 25px;
    }

}

/* ==========================================================================
   Small
   ========================================================================== */

@media screen and (max-width: 768px) {
    /* offer
       ========================================================================== */
    .offer {
        padding-top: 55px;
        padding-bottom: 80px;
    }

    .offer__title strong {
        font-size: 26px;
    }

    .order-offer {
        width: 100%;
    }

    .order-offer__title {
        margin-bottom: 213px;
    }

    .order-offer__button {
        padding-right: 15px;
        padding-left: 15px;
    }

    .order-offer__form {
        margin-right: auto;
        margin-left: auto;
    }

    .order-offer__form::after {
        top: -194px;
        right: auto;
        left: 50%;
        transform: translate(-50%, 0);
    }

    /* letters
       ========================================================================== */
    .letters__slider {
        width: 260px;
    }

    .letter__arrow_back {
        left: -110px;
    }

    .letter__arrow_next {
        right: -110px;
    }

    /* services
       ========================================================================== */
    .services__list {
        width: 100%;
    }

    /* about
       ========================================================================== */
    .about__video-wrapper {
        width: 100%;
    }

    /* contacts
       ========================================================================== */
    .contacts {
        padding-top: 50px;
        padding-bottom: 70px;
        background: #0068e1;
        background: linear-gradient(110deg, #0083ff 0%, #0054bf 100%) no-repeat;
    }

    .contacts__title {
        color: #fff;
    }
    
    .contacts__text {
        position: static;
        width: auto;
        min-height: auto;
        padding: 0;
        background: transparent;
        border-radius: 0;
    }

    .contacts__map {
        display: none;
    }
}

@media screen and (width: 768px) {
    /* offer
           ========================================================================== */
    .offer {
        padding-top: 78px;
        padding-bottom: 90px;
    }

    .offer__title strong {
        font-size: 36px;
    }

    .order-offer {
        width: 685px;
    }

    .order-offer__title {
        margin-bottom: 33px;
    }

    .order-offer__button {
        padding-right: 24px;
        padding-left: 24px;
    }

    .order-offer__form {
        margin-right: 0;
        margin-left: 0;
    }

    .order-offer__form::after {
        top: -18px;
        right: -227px;
        left: initial;
        transform: none;
    }

    /* letters
       ========================================================================== */
    .letters__slider {
        width: 556px;
    }

    .letter__arrow_back {
        left: -90px;
    }

    .letter__arrow_next {
        right: -90px;
    }

    /* services
       ========================================================================== */
    .services__list {
        width: 570px;
    }

    /* about
       ========================================================================== */
    .about__video-wrapper {
        width: 580px;
    }

    /* contacts
       ========================================================================== */
    .contacts {
        padding-top: 40px;
        padding-bottom: 0;
        background: transparent;
    }

    .contacts__title {
        color: #2b2b2b;
    }

    .contacts__text {
        position: absolute;
        width: 400px;
        min-height: 224px;
        padding: 40px 55px;
        background: #0068e1;
        background: linear-gradient(110deg, #0083ff 0%, #0054bf 100%);
    }

    .contacts__map {
        display: block;
    }
}

/* ==========================================================================
   Extra small
   ========================================================================== */

@media screen and (max-width: 576px) {
    /* our-work
       ========================================================================== */
    .our-work__button-order {
        width: auto;
    }

    .work__title {
        font-size: 24px;
    }

    .work__title strong {
        padding-bottom: 20px;
    }

    .work__img {
        height: 270px;
        min-height: 270px;
    }
}




@media screen and (max-width: 525px) {
    /* offer
       ========================================================================== */
    .order-offer {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 510px) {
    /* letters
       ========================================================================== */
    .letter__arrow_back {
        left: -70px;
    }

    .letter__arrow_next {
        right: -70px;
    }
}

@media screen and (max-width: 490px) {
    /* reviews
       ========================================================================== */
    .review {
        width: 100%;
    }
}

@media screen and (max-width: 475px) {
    /* offer
       ========================================================================== */
    .order-offer__form,
    .order-offer__field {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    /* letters
       ========================================================================== */
    .letter__arrow {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .letter__arrow_back {
        left: -25px;
    }

    .letter__arrow_next {
        right: -25px;
    }
}

@media screen and (max-width: 360px) {
    /* services
       ========================================================================== */
    .services__button {
        width: auto;
    }
}

@media screen and (max-width: 355px) {
    /* offer
       ========================================================================== */
    .order-offer__field {
        padding-left: 42px;
        background-position-x: 9px;
    }

    .order-offer__button {
        font-size: 15px;
    }
}

@media screen and (max-width: 335px) {
    /* main-header
       ========================================================================== */
    .main-header__title {
        font-size: 23px;
    }
}



/* Container
   ========================================================================== */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1290px) {
    .container {
        max-width: 1230px;
    }
}
