/*
Theme Name: Profit Site
Author: Sergey Konovalenko
*/

@font-face {
    font-weight: 300;
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    src: url("fonts/Lato-Light.woff2") format("woff2"),
         url("fonts/Lato-Light.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    src: url("fonts/lato-regular.woff2") format("woff2"),
         url("fonts/lato-regular.woff") format("woff");
}

@font-face {
    font-weight: 600;
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    src: url("fonts/lato-semibold.woff2") format("woff2"),
         url("fonts/lato-semibold.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    src: url("fonts/lato-bold.woff2") format("woff2"),
         url("fonts/lato-bold.woff") format("woff");
}

@font-face {
    font-weight: 800;
    font-family: "Circe";
    font-style: normal;
    font-display: swap;
    src: url("fonts/Circe-ExtraBold.woff2") format("woff2"),
         url("fonts/Circe-ExtraBold.woff") format("woff");
}





/* ==========================================================================
   SPECIFICATION
   ========================================================================== */

html {
    box-sizing: border-box;
}

html *, html ::after, html ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    font-family: "Lato", Tahoma, sans-serif;
    word-wrap: break-word;
    color: #2b2b2b;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    display: block;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* form */
input,
select {
    display: block;
    width: 415px;
    padding: 21px 15px 21px 65px;
    font-size: 19px;
    background-color: #f9f9f9;
    border: 1px solid #0046a0;
    border-radius: 6px;
    outline: none;
}

input:focus,
select:focus {
    box-shadow: 0 0 5px 1px rgba(0, 70, 160, 0.7);
}

::placeholder {
  color: #3d3d3d;
}

.error-fld {
    border: 2px solid #ff0000;
    background-color: #f3b2b2 !important;
    color: #000 !important;
}

.error-msg {
    position: relative;
    z-index: 2;
    display: none;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 3px;
    font-size: 14px;
    color: #fff;
    background-color: #ff0000;
}

h4.success {
    color: #e8444c;
    text-align: center;
    font-size: 20px;
}

/* button */
.button {
    display: inline-block;
    padding: 19px 15px;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
    color: #fff;
    background-color: #0068e1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 9px 9px 16px rgba(0, 94, 208, 0.25);
    transition: all 0.2s ease;
}

.button:hover,
.button:focus {
    background-color: #0056bb;
}

.button--extra {
    font-size: 19px;
    color: #0068e1;
    background: #fff;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(207,207,207,1) 100%);
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.25);
}

.button--extra:hover,
.button--extra:focus {
    background: #f9f9f9;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(190,190,190,1) 100%);
}

/* design-list */
.design-list ul {
    padding: 0;
    list-style: none;
}

.design-list li {
    position: relative;
    padding-left: 17px;
}

.design-list li::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: #0068e1;
    border-radius: 50%;
}

/// Reset list options
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}



/* ==========================================================================
   Main header
   ========================================================================== */

.main-header {
    padding-top: 15px;
    padding-bottom: 14px;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__logo {

}

.main-header__logo picture {
    margin-bottom: 2px;
}

.main-header__logo[href] {
    cursor: pointer;
}

.main-header__logo img {
    margin-bottom: 1px;
}

.main-header__logo span {
    display: block;
    font-weight: 600;
    font-size: 13px;
    color: #414141;
    padding-left: 81px;
}

.main-header__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 25px;
}

.main-header__phone {
    position: relative;
    padding-left: 32px;
    font-weight: 600;
    font-size: 18px;
    color: #414141;
    cursor: pointer;
}

.main-header__phone::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 19px;
    height: 19px;
    background: url("img/base/phone.svg") no-repeat 0 0;
    transform: translate(0, -50%);
}




/* ==========================================================================
   Offer
   ========================================================================== */

.offer {
    position: relative;
    z-index: 4;
    padding-top: 78px;
    padding-bottom: 90px;
    background-color: #e9eaeb;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.no-webp .offer,
.no-js .offer {
    background-image: url("img/base/offer.jpg");
}

.webp .offer {
    background-image: url("img/base/offer.webp");
}

.offer__title {
    margin-top: 0;
    margin-bottom: 36px;
    text-align: center;
}

.offer__title strong {
    display: block;
    margin-bottom: 12px;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.3333em;
    font-family: "Circe", Tahoma, sans-serif;
    text-transform: uppercase;
    color: #313131;
}

.offer__title span {
    display: block;
    font-weight: 400;
    font-size: 21px;
    font-family: "Lato", Tahoma, sans-serif;
    color: #656565;
}

.offer__order {
    margin: 0 auto;
}

.order-offer {
    width: 685px;
    padding: 30px 40px 50px;
    background: #0068e1;
    background: linear-gradient(110deg, rgba(0,131,255,1) 0%, rgba(0,84,191,1) 100%);
    border-radius: 6px;
}

.order-offer__title {
    margin-top: 0;
    margin-bottom: 33px;
    font-size: 22px;
    text-align: center;
    color: #fff;
}

.order-offer__form {
    position: relative;
    width: 415px;
}

.order-offer__form::after {
    content: '';
    position: absolute;
    top: -18px;
    right: -227px;
    z-index: 1;
    width: 233px;
    height: 223px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.no-webp .order-offer__form::after,
.no-js .order-offer__form::after {
    background-image: url("img/base/order-offer.png");
}

.webp .order-offer__form::after {
    background-image: url("img/base/order-offer.webp");
}

.order-offer__form::after {

}

.order-offer__item {
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 20px;
}

.order-offer__field {
    background-image: url("img/base/phone.svg");
    background-position: 25px center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
}

.order-offer__button {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 19px;
}

.order-offer__button span:first-child {
    position: relative;
    flex-grow: 1;
    margin-right: 22px;
}

.order-offer__button span:first-child::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 35px;
    background-color: #0068e1;
    transform: translate(0, -50%);
}

.order-offer__button span:last-child {
    position: relative;
    flex-shrink: 0;
    padding-left: 29px;
    font-size: 11px;
    text-align: left;
}

.order-offer__button span:last-child::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 25px;
    background: url("img/base/pdf.svg") no-repeat 0 0;
    background-size: 25px 25px;
    transform: translate(0, -50%);
}

.order-offer__button span:last-child b {
    display: block;
    font-weight: 700;
    font-size: 15px;
}





/* ==========================================================================
   Main navigation
   ========================================================================== */

.main-navigation {
    position: relative;
    z-index: 3;
}

.main-navigation__wrapper {
    background-color: #f9f9f9;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, .6);
}

.main-navigation__logo {
    display: none;
}

.main-navigation__social {

}

.social {
    @include reset-list;
    display: none;
}

.social__item {
    margin-right: 40px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    display: block;
    cursor: pointer;
}

.main-navigation__trigger {
    display: none;
    padding: 0;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.main-navigation__box {

}

.main-navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation__list li {
    flex-grow: 1;
}

.main-navigation__list a {
    display: block;
    padding: 10px 30px;
    font-size: 18px;
    text-align: center;
    color: #1b1b1b;
    cursor: pointer;
    transition: all 0.2s ease;
}

.main-navigation__list a:hover {
    color: #fff;
    background-color: #0068e1;
}

.main-navigation__wrapper--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}





/* ==========================================================================
   Our work
   ========================================================================== */

.our-work {
    padding-top: 100px;
    padding-bottom: 70px;
    background-repeat: repeat;
}

body:not(.is-mobile) .our-work {
    background-attachment: fixed;
}

.no-webp .our-work,
.no-js .our-work {
    background-image: url("img/bg/logo-bg.png");
}


.webp .our-work {
    background-image: url("img/bg/logo-bg.webp");
}

.section-title {
    font-weight: 800;
    font-size: 30px;
    font-family: "Circe", Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #2b2b2b;
}

.our-work__title {
    margin-top: 0;
    margin-bottom: 40px;
}

.our-work__work-list {
    margin-bottom: 15px;
}

.our-work__work-list:nth-of-type(n + 2) {
    margin-bottom: 0;
}

.work {
    margin-bottom: 15px;
}

.work:last-child {
    margin-bottom: 0;
}

.work__box {
    display: flex;
    overflow: hidden;
    padding-bottom: 30px;
}

.work__img-box {
    position: relative;
    margin: 0;
    width: 100%;
    transition: all 1.5s ease;
}

.work__title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 45px 15px 15px 50px;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
}

.work__title strong {
    display: block;
    font-weight: 800;
    font-family: "Circe", Tahoma, sans-serif;
    text-transform: uppercase;
}

.work__img-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.8);
    background: linear-gradient(90deg, rgba(3,3,3,0.8) 0%, rgba(58,58,58,1) 100%);
    border-radius: 6px;
    transition: all 0.5s ease;
    opacity: 0;
}

.work__mobile-more {
    display: none;
}

.work__box:hover .work__img-box::after,
.work__box:focus .work__img-box::after {
    opacity: 1;
}

.work__img-box picture {
    height: 100%;
}

.work__box:hover .work__img-box,
.work__box:focus .work__img-box {
    width: 420px;
}

.work__img {
    border: 1px solid #c3c3c3;
    border-radius: 6px;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: 0 top;
    width: 100%;
    height: 100%;
    min-height: 322px;
}

.work__content {
    display: flex;
    flex-direction: column;
    width: 0;
    margin-right: -35px;
    padding-left: 35px;
    transition: all 1.5s ease;
}

.work__box:hover .work__content,
.work__box:focus .work__content {
    width: 780px;
    margin-right: 0;
}

.work__text {
    width: 745px;
    margin-bottom: 15px;
    line-height: 1.5em;
    color: #222222;
}

.work__text h4 {
    margin-top: 28px;
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 20px;
}

.work__text p,
.work__text ul {
    margin: 16px 0;
}

.work__text *:first-child {
    margin-top: 0;
}

.work__text *:last-child {
    margin-bottom: 0;
}

.work__button {
    display: block;
    width: 300px;
    margin-top: auto;
}

.our-work__button-more {
    display: block;
    margin: 0 auto 22px;
    padding: 0;
    color: #0068e1;
    background-color: transparent;
    border: 0;
    border-bottom: 1px dotted #0068e1;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
}

.our-work__button-more:hover {
    border-bottom-color: transparent;
}

.our-work__button-order {
    display: block;
    width: 330px;
    margin: 0 auto;
}

.our-work__work-list:last-of-type {
    display: none;
}





/* ==========================================================================
   Reviews
   ========================================================================== */

.reviews {
    padding-top: 50px;
    padding-bottom: 70px;
}

.reviews__title {
    margin-top: 0;
    margin-bottom: 40px;
}

.reviews__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.reviews__item {
    margin-right: 280px;
}

.reviews__item:nth-child(2n) {
    margin-right: 0;
}

.reviews__item:nth-child(n + 3) {
    margin-top: 40px;
}

.review {
    width: 460px;
}

.review__heading {
    margin-bottom: 25px;
}

.review__heading strong {
    display: block;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 22px;
    color: #0068e1;
}

.review__heading p {
    margin: 0;
    font-size: 18px;
}

.review__video {
    margin-bottom: 36px;
}



/* video
   ========================================================================== */

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000;
}

.video__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 77px;
    height: 54px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video__button-shape {
    fill: #ffffff;
    /*fill-opacity: 0.8;*/
    transition: all 0.2s ease;
}

.video__button-icon {
    fill: #ffffff;
}

.video__button:focus {
    outline: none;
}

.video__button--extra {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border: 3px solid #0068e1;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.video:hover .video__button--extra {
    background-color: #0068e1;
}

.video__button--extra::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22.5px 0 22.5px 30px;
    border-color: transparent transparent transparent #0069e1;
    transition: all 0.3s ease;
    transform: translate(-40%, -50%);
}

.video:hover .video__button--extra::after {
    border-color: transparent transparent transparent #fff;
}

/*.video:hover .video__button-shape,*/
/*.video__button:focus .video__button-shape {*/
    /*fill: #0068e1;*/
    /*fill-opacity: 1;*/
/*}*/

/*!* Enabled *!*/

.video--enabled {
    cursor: pointer;
}

.video--enabled .video__button {
    display: block;
}



/* video-effect
   ========================================================================== */

.video-effect {

}

.video-effect__line {
    position: absolute;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
    transition: all 0.5s ease;
}

.video-effect:hover .video-effect__line {
    width: 0;
}

.video-effect__line--1 {
    top: 33.333%;
    margin-top: -2.5px;
}

.video-effect__line--2 {
    bottom: 33.333%;
    margin-bottom: -2.5px;
}

.video-effect__rectangle {
    position: absolute;
    right: 0;
    height: 34%;
    background-color: #fff;
    transition: all 0.5s ease;
}

.video-effect:hover .video-effect__rectangle {
    width: 0;
}

.video-effect__rectangle--1 {
    top: 0;
    width: 20%;
}

.video-effect__rectangle--2 {
    bottom: 0;
    width: 40%;
}



.review__text {
    line-height: 1.5em;
}

.review__text h3 {
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 22px;
    color: #0068e1;
}

.review__text h4 {
    margin-top: 6px;
    margin-bottom: 3px;
    font-size: 19px;
    color: #0068e1;
}

.review__text p,
.review__text ul {
    margin-top: 6px;
    margin-bottom: 6px;
}

.review__text *:first-child {
    margin-top: 0;
}

.review__text *:last-child {
    margin-bottom: 0;
}





/* ==========================================================================
   Letters
   ========================================================================== */

.letters {
    margin-bottom: 50px;
    padding: 18px 0;
    background: #0068e1;
    background: linear-gradient(330deg, rgba(0,69,154,1) 0%, rgba(0,141,253,1) 100%);
    overflow: hidden;
}

.letters__slider {

}

.letters__item {

}

.slick-slide {

}

.letters__link {
    outline: none;
}

.letters__link img {
    width: 260px;
    height: 373px;
    margin: 0 auto;
    object-fit: cover;
}

.letter__arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    transform: translate(0, -50%);
}

.letter__arrow:focus {
    outline: none;
}

.letter__arrow::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    z-index: -1;
    background: inherit;
    border-radius: 50%;
    opacity: 0.4;
    transform: scale3d(0.5, 0.5, 1);
}

.letter__arrow:active::before {
    display: none;
}

.letter__arrow:hover::before {
    animation: anim-moema 0.3s forwards;
}

@keyframes anim-moema {
    to {
        opacity: 0;
        transform: scale3d(1, 1, 1);
    }
}

.letter__arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.letter__arrow_back {
    left: -90px;
}

.letter__arrow_next {
    right: -90px;
}

.letter__arrow_back::after {
    background-image: url("img/base/angle-left.svg");
    transform: translate(-60%, -50%);
}

.letter__arrow_next::after {
    background-image: url("img/base/angle-right.svg");
    transform: translate(-40%, -50%);
}





/* ==========================================================================
   Services
   ========================================================================== */

.services {
    padding-top: 50px;
    padding-bottom: 70px;
}

.services__title {
    margin-top: 0;
    margin-bottom: 48px;
}

.services__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.services__list {
    width: 570px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.services__item {
    margin-bottom: 8px;
}

.services__item:last-child {
    margin-bottom: 0;
}

.service {

}

.service__name {
    display: inline-flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 22px;
    color: #0068e1;
    cursor: pointer;
    transition: all 0.2s ease;
}

.service--active .service__name,
.service__name:hover {
    color: #2a2a2a;
}

.service__name::before {
    content: '';
    flex-shrink: 0;
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 14px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #1c1c1c;
    border-radius: 50%;
}

.service__name--prototype::before {
    background-image: url("img/base/services-icon-prototype.svg");
    background-size: 28px;
}

.service__name--multilending::before {
    background-image: url("img/base/services-icon-multilending.svg");
    background-size: 30px;
}

.service__name--design::before {
    background-image: url("img/base/services-icon-design.svg");
    background-size: 28px;
}

.service__name--seo::before {
    background-image: url("img/base/services-icon-seo.svg");
    background-size: 28px;
}

.service__name--layout::before {
    background-image: url("img/base/services-icon-layout.svg");
    background-size: 28px;
}

.service__name--remarketing::before {
    background-image: url("img/base/services-icon-remarketing.svg");
    background-size: 28px;
}

.service__name--mobile::before {
    background-image: url("img/base/services-icon-mobile.svg");
    background-size: 19px;
}

.service__name--amo-crm::before {
    background-image: url("img/base/services-icon-amo-crm.svg");
    background-size: 36px;
}

.service__name--word-press::before {
    background-image: url("img/base/services-icon-word-press.svg");
    background-size: 32px;
}

.service__name--calltracking::before {
    background-image: url("img/base/services-icon-calltracking.svg");
    background-size: 28px;
    background-position-x: 12px;
}

.service__name--modules::before {
    background-image: url("img/base/services-icon-modules.svg");
    background-size: 28px;
}

.service__name--scripts::before {
    background-image: url("img/base/services-icon-scripts.svg");
    background-size: 28px;
}

.service__name--google::before {
    background-image: url("img/base/services-icon-google.svg");
    background-size: 25px;
}

.service__name--geotargeting::before {
    background-image: url("img/base/services-icon-geotargeting.svg");
    background-size: 28px;
}

.service__name--yandex-direct::before {
    background-image: url("img/base/services-icon-yandex-direct.svg");
    background-size: 25px;
}

.service__name--ab-testing::before {
    background-image: url("img/base/services-icon-ab-testing.svg");
    background-size: 28px;
}

.service__name--ad-company::before {
    background-image: url("img/base/services-icon-ad-company.svg");
    background-size: 25px;
}

.service__name span::after {
    content: '';
    display: inline;
    width: 0;
    height: 0;
    margin-left: 12px;
    padding-bottom: 2px;
    font-size: 4px;
    border-style: solid;
    border-width: 8px 7px 0 7px;
    border-color: #0068e1 transparent transparent transparent;
    transition: all 0.2s ease;
}

.service--active .service__name span::after,
.service__name:hover span::after {
    border-color: #2a2a2a transparent transparent transparent;
}

.service__content {
    display: none;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 62px;
    line-height: 1.75em;
}

.service__content p,
.service__content ul {
    margin: 10px 0;
}

.service__content *:first-child {
    margin-top: 0;
}

.service__content *:last-child {
    margin-bottom: 0;
}

.service .service__examples {
    margin: 0;
    //margin-top: 13px;
}

.examples-service {

}

.examples-service .examples-service__item {
    padding-left: 0;
    border: 4px solid #0068e1;
}

.examples-service__item:nth-child(n + 2) {
    margin-top: 25px;
}

.examples-service__item::before {
    display: none;
}

.examples-service__link {
    position: relative;
    display: block;
    margin-bottom: 25px;
    cursor: pointer;
}

.examples-service__link::after {
    content: '';
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 72px;
    height: 72px;
    background-color: rgba(0, 104, 225, 0.8);
    background-image: url("img/base/search-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 46px;
    border-radius: 3px;
    transition: all 0.3s ease;
    opacity: 0;
}

.examples-service__link:hover::after {
    opacity: 1;
}

.examples-service__link img {
    width: 100%;
}

.services__button {
    display: block;
    width: 330px;
    margin: 0 auto;
}





/* ==========================================================================
   About
   ========================================================================== */

.about {
    padding-top: 50px;
    padding-bottom: 70px;
}

.about__title {
    margin-top: 0;
    margin-bottom: 48px;
}

.about__content {
    line-height: 1.5em;
    color: #1e1e1e;
}

.about__video-wrapper {
    width: 580px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}

.about__video {
    margin-bottom: 19px;
    //border: 4px solid #0068e1;
}

.about__video-info {
    margin: 0;
    text-align: center;
}

.about__content h3 {
    margin-top: 18px;
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 20px;
}

.about__content h4 {
    margin-top: 18px;
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 17px;
}

.about__content p,
.about__content ul {
    margin-top: 16px;
    margin-bottom: 16px;
}

.design-list-float ul {
    padding: 0;
    list-style: none;
}

.design-list-float li::before {
    content: "\2022";
    display: inline-block;
    width: 1em;
    font-weight: 700;
    color: #0068e1;
}

.about__content *:nth-child(2) {
    margin-top: 0;
}

.about__content *:first-child {
    margin-top: 0;
}

.about__content *:last-child {
    margin-bottom: 0;
}





/* ==========================================================================
   Contacts
   ========================================================================== */

.contacts {
    padding-top: 40px;
}

.contacts__title {
    margin-top: 0;
    margin-bottom: 47px;
}

.contacts__text {
    position: absolute;
    top: 88px;
    left: 0;
    z-index: 1;
    width: 400px;
    min-height: 224px;
    padding: 40px 55px;
    font-weight: 400;
    line-height: 1.5em;
    color: #fff;
    background: #0068e1;
    background: linear-gradient(110deg, rgba(0,131,255,1) 0%, rgba(0,84,191,1) 100%);
    border-radius: 3px;
}

.contacts__text p {
    margin: 24px 0;
}

.contacts__text a {
    color: #fff;
}

.contacts__text *:first-child {
    margin-top: 0;
}

.contacts__text *:last-child {
    margin-bottom: 0;
}

.contacts__map {
    height: 400px;
}

.info-window {
    width: 210px;
}

.info-window strong {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    color: #0068e1;
}

.info-window p {
    margin-top: 0;
    margin-bottom: 10px;
}

.info-window a {
    display: block;
    font-weight: 700;
    color: #000;
    cursor: pointer;
}





/* ==========================================================================
   Main footer
   ========================================================================== */
.main-footer {
    padding: 30px 0;
    background-color: #1759b2;
}

.main-footer__copyright,
.main-footer__privacy-policy {
    margin: 0;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.main-footer__privacy-policy a {
    position: relative;
    color: #fff;

}

.main-footer__privacy-policy a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease;
    transform: scaleX(1);
}

.main-footer__privacy-policy a:hover::after {
    transform: scaleX(0);
}





/* ==========================================================================
   Privacy policy
   ========================================================================== */

.privacy-policy {
    padding-top: 50px;
    padding-bottom: 70px;
}

.privacy-policy h2,
.privacy-policy h3 {
    margin-top: 50px;
    margin-bottom: 25px;
}

.privacy-policy a {
    color: #0068e1;
}

.privacy-policy p,
.privacy-policy ul {
    margin: 16px 0;
    line-height: 1.5em;
}

.privacy-policy .container *:first-child {
    margin-top: 0;
}

.privacy-policy .container *:last-child {
    margin-bottom: 0;
}
